/*-- scss:variables --*/
$link-color: #0097A7;

/*-- fonts --*/
$presentation-heading-font: 'Montserrat', sans-serif; /* For headings (bold) */
$mainFont: 'Montserrat', sans-serif;  /* For main text (light) */

/*-- Import Montserrat font from Google Fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/*-- scss:rules --*/
/* montserrat-semibold  */

/* Apply the bold font to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $presentation-heading-font;
  font-weight: 700; /* Bold weight for headings */
}

/* Apply the light font to the main content */
body {
  font-family: $mainFont;
  font-weight: 300; /* Light weight for main text */
}

.reveal section.top {
  top: 0px !important;
}